@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}


:root{
 
 /*width: 1728px - 100vw
hero-height: 797px - 46.12268519vw
nav-height: 155px - 8.969907407vw
logo-height: 40px - 2.314815vw
feature-section: 707px - 40.91435185vw
app-ad-section: 1336px - 77.31481481vw
how-section: 714px - 41.31944444vw
trusted-section: 923px - 53.41435185vw
footer-height: 366px - 21.18055556vw
carousel-height: 328px - 18.98148148vw
size = width = height
long-component-width = --bg-msg-tag-width
*/


/*Logo*/

--logo-black: #000000;
--logo-care-color: #416BD5;
--logo-care-secondary-color: #3163DD;
--logo-icon-fill-color: #F24822;

--bg-logo-font-size: 2.777777778vw;
--sm-logo-font-size: 2.314814815vw;
--bg-logo-cross-size-width: 1.62037037vw;
--bg-logo-cross-size-height: 2.199074074vw;
--sm-logo-cross-size-width: 1.331018519vw;
--sm-logo-cross-size-height: 1.736111111vw;


/*Nav*/

--nav-font-color: #070D29;
--nav-hover: #1D54EB;
--nav-btn-font-color: #FFFFFF;
--nav-btn-color: #2763E5;

--nav-font-size: 1.215277778vw;
--nav-bg-font-size: 1.4467592592592vw;
--nav-btn-font-size: 1.157407407vw;
--nav-btn-width: 11.34259259vw;
--nav-btn-padding:  1.186342593vw;
--nav-btn-br: 0.925925925vw;

/*font-weight Styles*/
--regular: 400;
--medium: 500;
--semi-bold: 600;
--bold: 700;


/*Header Styles*/

--h-primary-color: #0C133B;
--h-secondary-color: #060720;
--h-tertiary-color: #1E56DF;
--h-extra-primary-color: #1E5BE7;
--h-extra-secondary-color: #1257E7;
--h-extra-tertiary-color: #0830C4;

--h-primary-font-size: 4.918981481vw;
--h-secondary1-font-size: 2.662037037vw;
--h-secondary2-font-size: 2.604166667vw;
--h-secondary3-font-size: 2.314814815vw;
--h-tertiary-font-size: 2.314814815vw;
--h-primary-extra1-font-size: 2.199074074vw; 
--h-primary-extra2-font-size: 1.273148148vw;

/*P styles*/

--p-sm-bold-color: #36395C;
--p-semi-bold-light-color: #606675;
--p-semi-bold-light-dark-color: #4D4D56;
--p-semi-bold-dark-color: #1A1941;
--p-semi-bold-darker-color: #0D0A0B;
--p-medium-lightest-color: #FFFFFF;
--p-medium-lighter-color: #787E8D;
--p-medium-light-color: #69697D;
--p-medium-light-dark: #333540;
--p-medium-lighter-dark: #373A4E;
--p-medium-dark: #2B3048;
--p-medium-dark2: #2C2D41;
--p-medium-dark2-faded: #2c2d4199;
--p-medium-black: #00001D;
--p-regular-lighter-color: #FFFFFF;
--p-regular-light-color: #5A5A5D;
--p-regular-black-color: #000123;
--p-regular-black-color-faded: #00012394;


--p-sm-bold-font-size: 1.331018519vw;
--p-semi-bold-light-font-size: 1.331018519vw;
--p-semi-bold-light-dark-font-size: 1.099537037vw;
--p-semi-bold-dark-font-size: 1.157407407vw;
--p-semi-bold-darker-font-size: 1.446759259vw;
--p-medium-lightest-font-size: 1.157407407vw;
--p-medium-lighter-font-size: 1.099537037vw;
--p-medium-light-font-size: 1.157407407vw;
--p-medium-light-dark-font-size: 0.810185185vw;
--p-medium-lighter-dark-font-size: 1.099537037vw;
--p-medium-dark-font-size: 1.157407407vw;
--p-medium-dark2-font-size: 1.331018519vw;
--p-medium-dark2-faded-font-size: 1.041666667vw;
--p-medium-black-font-size: 1.157407407vw;
--p-regular-sm-lighter-font-size: 0.983796296vw; /* app link text*/
--p-regular-lighter-font-size: 1.331018519vw;
--p-regular-lighter-font-size-reduced: 1.157407407vw;
--p-regular-bg-lighter-font-size: 1.62037037vw; /* app link text*/
--p-sm-regular-sm-lighter-font-size: 0.520833333vw; /* app link text*/
--p-sm-regular-bg-lighter-font-size: 0.868055555vw; /* app link text*/
--p-regular-light-font-size: 1.157407407vw;
--p-regular-black-font-size: 1.157407407vw;
--p-regular-black-color-faded-font-size: 1.099537037vw;



/*App links*/

--app-links-color: #FFFFFF;
--app-link-btn-fill: #050505;

--playstore-apple-size: 4.282407407vw;
--sm-playstore-apple-size: 2.747920861vw;
--bg-playstore-apple-size: 5.567129629vw;
--playstore-bg-contr-w: /*14.81481481vw 17.77777777vw*/ 16.29629629vw ;
--playstore-sm-contr-w: /*9.490740741vw 11.38888889vw*/ 10.43981482vw;
--apple-bg-contr-w: /*13.88888889vw 16.66666667vw*/ 15.27777778vw;
--apple-sm-contr-w: /*8.912037037vw 10.69444444vw*/ 9.803240741vw;
--app-link-bg-contr-h: 4.6875vw;
--app-link-sm-contr-h: 3.009259259vw;
--qr-code-img-size: 7.87037037vw;

/*Icon*/

--red-icon-fill-color: #F24822;
--red-phone-icon-fill-color: #F23836;
--blue-icon-fill-color: #1E59F3;
--blue-secondary-icon-fill-color: #2B64E8;
--blue-shield-icon-color: #2C5CEF;
--green-icon-fill-color: #11B463;
--green-secondary-icon-fill-color: #14AE5C;
--purple-icon-fill-color: #763CD3;
--yellow-icon-fill-color: #FEB02A;
--yellow-secondary-icon-fill-color: #FFCD29;
--white-icon-fill: #FFFFFF;
--blue-h-line-color: #1E56DF;
--grey-v-line-color: #F8F8FA;
--emergency-arrow-fill-color: #1A2BBD;

--blue-shield-width: 0.964699074vw;
--blue-shield-height: 1.115162037vw;
--blue-human-size: 2.662037037vw;
--blue-horiz-line-w: 3.703703704vw;
--blue-horiz-line-h: 0.405092592vw;
--blue-tick-size: 1.446759259vw;
--eye-width: 1.967592593vw;
--eye-height: 1.62037037vw;
--phone-size: 2.141203704vw;
--location-w: 1.5625vw;
--location-h: 2.199074074vw;
--purple-human-size: 2.141203704vw;
--white-human-size: 2.141203704vw;
--woman-w: 1.851851852vw;
--woman-h: 2.372685185vw;
--shield-size: 2.835648148vw;
--heart-size: 3.24074074vw;
--star-bg-width: 2.641782407vw;
--star-bg-height: 2.512152778vw;
--star-sm-size: 1.62037037vw;
--quote-width: 2.242476852vw;
--quote-height: 1.860791667vw;
--emergency-arrow-width: 1.157407407407407407vw;
--emergency-arrow-height: 0.925925925925925925vw;


/*Icon box & Special Boxes*/

--emergency-arrow-iconbox-fill: #EEF3FE;
--call-iconbox-fill: #FDEBEB;
--location-iconbox-fill: #E5EDFD;
--search-shield-iconbox-fill: #DCF5E6;
--personal-health-iconbox-fill: #F4EDFB;
--help-iconbox-fill: #FDEFDA;
--all-iconbox-fill: #EEF2FD;
--black-circle-fill: #383838;
--grey-circle-fill: #D9D9D9;
--blue-circle-fill: #1C5AE9;

--black-circle-size: 3.06712963vw;
--grey-circle-size: 3.819444444vw;
--blue-circle-size: 2.777777778vw;
--emergency-arrow-iconbox-size: 3.530092593vw;
--sm-fill-box-size: 4.340277778vw;
--bg-fill-box-size: 5.324074074vw;
--fill-box-br: 1.099537037vw;

--features-box-w: 17.07175926vw;
--bg-features-box-w: 19.386574074074074vw;
--features-box-h: 22.74305556vw;
--bg-features-box-h: 21.0648148148148148vw;
--comment-box-w: 26.62037037vw;
--comment-slide-box: calc(6 * -26.62037037vw - 12.5vw * 1.2);
--comment-box-h: 18.98148148vw;
--emergency-phone-fill-box-w: 4.74537037vw;
--emergency-phone-fill-box-h: 4.571759259vw;
--emergency-contr-w: 19.38657407vw;
--emergency-contr-h: 21.06481481vw;
--bg-app-img-w: 24.47916667vw;
--bg-app-img-h: 51.96759259vw;
--sm-app-img-w: 11.96990741vw;
--sm-app-img-h: 25.40509259vw;
--sm-app-img-contr-w: 14.52546296vw;
--sm-app-img-contr-h: 26.50462963vw;
--sm-app-img-transform-clockwise: transform(5.9deg);
--sm-app-img-transform-anti-clockwise: transform(-5.9deg);
--sm-app-img-image-1-w: 19.849537037037037vw;
--sm-app-img-image-1-h: 42.1296296296296296vw;
--sm-app-img-image-2-w: 21.8171296296296296vw;
--sm-app-img-image-2-h: 38.2523148148148148148vw;
--sm-app-img-image-3-w: 21.5856481481481481vw;
--sm-app-img-image-3-h: 38.7731481481481481vw;
--sm-app-img-image-4-w: 22.164351851851851851vw;
--sm-app-img-image-4-h: 37.67361111111111111vw;


/*Msg Tag*/

--msg-tag-font-primary-color: #2C5CEF;
--msg-tag-font-secondary-color: #3360E8;
--msg-tag-background: #ECF3FE;
--bg-tag-dark-blue-color: #132FAD;
--bg-tag-light-blue-color: #f0f5fd;

--msg-tag-pd: 0.578703703vw;
--msg-tag-br-primary: 1.157407407vw;
--msg-tag-br-secondary: 1.331018519vw;
--primary-msg-tag-font-size: 1.099537037vw;
--secondary-msg-tag-sm-font-size: 0.925925925vw;
--secondary-msg-tag-lg-font-size: 1.273148148vw;
--msg-tag1-size-w: 17.36111111vw;
--msg-tag2-size-w: 14.46759259vw;
--msg-tag3-size-w: 12.5vw;
--bg-msg-tag-width: 91.6087963vw;
--bg-msg-tag-light-height: 14.35185185vw;
--bg-msg-tag-dark-blue-height: 12.96296296vw;
--bg-msg-tag-br-light: 2.025462963vw;
--bg-msg-tag-br-dark-blue: 1.678240741vw;

}



nav ul{
    list-style: none;
    
}

nav ul a{
    text-decoration: none;
    color: var(--nav-font-color);
}

nav ul li{
    display: inline-block;
    white-space: nowrap;
    margin-inline: 1.35vw;
    font-size: var(--nav-font-size);
    font-weight: var(--medium);
    
}


nav ul li a{
    text-decoration: none;
}


nav ul li:last-child a{
    width: var(--nav-btn-width);
    padding: var(--nav-btn-padding);
    border-radius: var(--nav-btn-br);
    background-color: var(--nav-btn-color);
    color: var(--nav-btn-font-color);
    font-size: var(--nav-font-size);
}

nav ul li a:visited{
    opacity: 50%;
}


nav ul li a:hover, nav ul li a:focus{
    color: var(--h-extra-primary-color);
}

nav ul li:last-child a:hover, nav ul li:last-child a:focus{
    color: var(--nav-btn-font-color);
    opacity: 90%;
}

nav ul li a:active{
    opacity: 90%;
}


.bg-logo p{
    font-size: var(--bg-logo-font-size);
    font-weight: var(--medium);
    
}


/* Container settings */

/* Sections*/

body{
    display: grid;
    font-family: 'Inter', sans-serif;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    background-color: #FCFCFE;

}

/* % works best for grid than vw*/


header{
    width: 100%;
    height: auto;
    padding: 0 4vw;
}

main{
    width: 100%;
    height: auto;    
    
}

section{
    margin-bottom: 0.25vw;
}

footer{
    width: 100%;
    height: auto;
    padding: 0 4vw;
    margin-top: 1vw;
}


.header{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    grid-template-columns: 3fr 5fr;
    height: 7.2337962962962962vw;
    gap: 2vw;
    
}


#header-div-1, #header-div-2 {
    display: flex;
    align-items: center;
    white-space: nowrap;

}


#header-div-1{
    justify-content: flex-start;
}
#header-div-2{
   justify-content: center;
   padding: 0.5vw 0 ;
}


#section-1{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 46.12268519vw;
    /* the above code bulletproofs my grid*/
    background-color: #FBFCFE;
    padding: 0 0 0 4vw;
   
    
}

.sec-1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: wrap;
    gap: 3vw;
}

.sec-1-img{
    background-image: url("/asset/img/Doctor\ treating\ patients.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


#tag-1{
    width: var(--msg-tag1-size-w);
}


.hero-text h2, .hero-text p{
    margin: 0 0 1.5vw;
}

.hero-text p{
    line-height: 1.8;
    width: 75%;
}

.hero-app-links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hero-extra{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
}

.blk-human-iconbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.blk-human-iconbox .blk-human-icon-clip{
    position: absolute;
}

#icon-clip-1{
    left: 0;
}

#icon-clip-2{
    left: 2vw;
}

#icon-clip-3{
    left: 4vw;
}

#icon-clip-4{
    left: 6vw;
}

.hero-extra-b{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 0.75vw;
}


.starbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.35vw;
}

.starbox div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.35vw; 
}

.starbox span{
    margin-top: -0.1vw;
}


#section-2{
    padding: 0 4vw;
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    min-height: 40.91435185vw;
    align-items: flex-start;


}

.sec-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8vw;
}

.sec-2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
}

.sec-2-b{
    margin-top: -5.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#tag-2{
    width: var(--msg-tag2-size-w);
}

.features-box{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1.5vw;
    width: 95%;
}


.feature{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    border-radius: 1.736vw;
    box-shadow: 0 0 1vw 0.25vw rgb(0, 0, 0, 0.25);

    
}


.feature-contr{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: flex-start;
    align-items: center;
}

.features-box .feature:last-child{
    position: absolute;
    top: 33.5vw;
    right: 5%;
    width: var(--bg-features-box-w);
    height: var(--bg-features-box-h);
    border-radius: 2.1412037037037037vw;
}

.features-box .feature:last-child .feature-contr{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.features-box .feature:last-child .feature-contr .feature-text{
    width: 90%;
    align-items: center;
}

.feature-contr:first-child{
    align-items: flex-start;
}

.feature-text{
    width: 100%;
    word-spacing: 0.05vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: flex-start;

}

.feature-text p:last-child{
    line-height: 1.8;
}


#section-3{
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.sec-3{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 5vw;
    width: 85%;
    
}

#about-app-a{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#about-app-a-I{
    line-height: 1.55;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
    padding: 2.5vw 0;
}

#about-app-a-I p{
    width: 80%;
}

#about-app-a-II{
    line-height: 3;
}

#about-app-a-II ul{
    list-style: none;
    padding: 0;
}

#about-app-a-II ul li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;

}

#about-app-a-II ul li::before{
    content: " ";
    width: var(--blue-tick-size);
    height: var(--blue-tick-size);
    border-radius: 50%;
    background: url("/asset/img/charm_tick.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}


#about-app-b{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-app-b div{
    background-image: url("/asset/img/app-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--bg-app-img-w);
    height: var(--bg-app-img-h);
    border-radius: 4.5vw;
}

#about-app-c{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.about-feature{
    width: 90%;
    word-spacing: 0.175vw;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5vw;
}

.sec-3-b{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    border-radius: var(--bg-msg-tag-br-light);
    background-color: var(--bg-tag-light-blue-color);
    padding: 3vw 0;
    line-height: 1.5;
    
}

.bg-light-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.bg-light-content-text{
    text-align: center;
    margin-top: -0.8vw;
}

#section-4{
    padding: 4vw 1.5vw 4vw 4vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#tag-3{
    width: var(--msg-tag3-size-w);
}

.sec-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.475vw;
}

.sec-4-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.sec-4-b{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: start;
    justify-content: center;
    gap: 0;
}

.sec-4-box-contr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 0;

}

.sec-4-box-contr-a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1vw;
    padding: 3.5vw 0.5vw 1vw;
}


.blue-No-circle{
    width: var(--blue-circle-size);
    height: var(--blue-circle-size);
    background-color: var(--blue-circle-fill);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FFFFFF;
}

svg rect{
    width: 80%;
    height: 90%;   
}

.sec-4-line-height{
    line-height: 1.8;
}


#section-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4vw;
    background-color: #FCFCFE;
    gap: 8vw;
}

.sec-5{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3.5vw;
}

.sec-5-text{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: center;
}

.position-blocker{
    width: 100%;
    height: 19.25vw;
    position: relative;
    background: #FCFCFE;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.carousel-contr{
    display: flex;
    flex-wrap: nowrap;
    gap: 3.25vw;
    overflow-x: hidden;
    max-width: var(--bg-msg-tag-width);
    height: var(--comment-box-h);
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(var(--comment-slide-box)) }
  
}

.carousel-contr-slide{
    animation: slide 60s infinite 0.5s linear;
}

.comment{
    min-width: var(--comment-box-w);
    height: var(--comment-box-h);
    border: solid #00000040;
    display: grid;
    grid-template-rows: 1.5fr 1.3fr;
    justify-content: center;
    border-radius: 1.215277777777777vw;
    box-shadow: 0 0 0.05vw 0.1vw #00000040;
    background-color: white;
    position: relative;
    
}

.comment-a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.15vw;
    padding: 1vw;
    line-height: 2;
    width: 85%;
}
.comment-b{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
}

.comment-b div:last-child{
    display: flex;
    flex-direction: column;
    gap: 0.45vw;
}


.q-r{
    background-image: url("/asset/img/QR.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--qr-code-img-size);
    height: var(--qr-code-img-size);
}

.q-r-contr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.q-r-contr p{
    width: 30%;
}

.sec-5-b{
    width: 100%;
}

.bg-dark-content{
    background-color: var(--bg-tag-dark-blue-color);
    display: grid;
    grid-template-columns: 1.25fr 1.875fr;
    width: 100%;
    border-radius: var(--bg-msg-tag-br-dark-blue);
    padding: 3vw 0;
    line-height: 1.5;
    
}

.bg-dark-content-a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 4vw;
}

.bg-dark-content-b{
    display: flex;
    flex-direction: row;
}

.sec-5-b h2{
    color: #ffffff;
    font-size: 2.25694444444444444vw;
}

.red{
    color: var(--red-icon-fill-color);
}

.footer{
    display: grid;
    grid-template-columns: 1.75fr 1.2fr 1.25fr 1.6fr;
    width: 100%;
}
/*
.footer div, .footer p{
    border: solid;
    border-color: #000;
}
*/
.ft-blk{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 21.18055556vw;
}

.sm-logo p{
    font-size: var(--sm-logo-font-size);
    font-weight: var(--medium);
    
}
 .x{
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1.8vw;
    margin-top: 2.5vw;
 }


.gray-line{
    border-image: linear-gradient(180deg, #fff 0%,var(--grey-v-line-color) 50%, #fff 100%);
    border-image-repeat: stretch;
    border-image-slice: 30;
}
#ft-1{
    border-right: solid transparent;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-width: 0.275vw;
}

#ft-2{
    border-right: solid transparent;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-width: 0.275vw;
}

#ft-3{
    border-right: solid transparent;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-width: 0.275vw;
}

#ft-4{
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-top: 0; 
    border-width: 0.275vw; 
}

 #ft-1 div{
    margin-left: 1vw;
    padding: 0.1vw;

 }

#ft-2 div{
    padding: 0.1vw;
}

#ft-3 div{
    padding: 0.1vw;
}

#ft-4 div{
    padding: 0.1vw;
}

#ft-2 .x {
    width: 50%;
}

#ft-3 .x{
    width: 55%;
}

#ft-4 .x{
    width: 66%;
    margin-top: 2vw;
}

#ft-1-p p, #x-2 p, #x-3 p, #x-4 p{
    line-height: 1.6;
}


#ft-downld{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.25vw;
}

.ft-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4vw;
}

.ft-links a{
    text-decoration: none;
    color: var(--p-medium-lighter-color)
}

.ft-links a:visited{
    opacity: 50%;
}


.ft-links a:hover, .ft-links a:focus{
    color: var(--h-extra-primary-color);
    text-decoration: underline;
}

.ft-links a:active{
    opacity: 90%;
    color: var(--p-medium-lighter-color);
}


/*New View*/

@media (max-width: 850px) {
.hamburger {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-columns:minmax(0, 2.314814815vw) ;
  justify-content: space-evenly;
  gap: 0.2vw;
  width: 2.314814815vw;
  height: 1.736111111vw;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Base line styles */
.line {
  width: 100%;
  min-height: 0.289351851vw;
  background-color: black;
  transition: all 0.3s ease; /* Smooth transition duration */
  transform-origin: 0.25vw center; /* Critical for correct rotation alignment */
}

/* Transformation to "X" when clicked */
.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg); /* Rotates top line down */
  

  
}

.hamburger.open .line:nth-child(2) {
  opacity: 0; /* Hides middle line */
  width: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg); /* Rotates bottom line up */
}

.hamburger-btn{
    min-width: 2.314814815vw;
    min-height: 1.736111111vw;
}

.Nav {
    /*border: 0.11574074vw solid #333;*/
    border-radius: 0 0 1.851851852vw 1.851851852vw;
    margin: 0 auto 0.925925925vw;
    /*min-width: 14.46759259vw;*/
    font-size: var(--nav-bg-font-size);
    line-height: 1.8vw;
    text-align: center;
    background: white;
}


nav ul {
    list-style-type: none;
}

nav ul li{
    display: block;
    border-top: 0.05787037vw solid #4444443d;
    margin-inline: 0;
    padding: 0.75vw 0;
}


nav ul li:first-child {
    border-top: unset;
}

nav ul li:last-child {
    background-color: #333;
    border-radius: 0 0 1.651851852vw 1.651851852vw;
    padding: 1.5vw 0;
}

nav ul li:last-child a {
    width: 14.46759259vw;
    color: var(--logo-icon-fill-color);
    padding: 0;
    background-color: transparent;
}
nav ul a, 
nav ul a:visited {
    text-decoration: none;
    color: var(--nav-font-color);
}


nav ul li:hover,
nav ul li:focus,
nav ul li:hover a{
    background: var(--nav-btn-color);
    color: whitesmoke;
}


.header{
    grid-template-columns: 1fr 1fr;
}
#header-div-2{
    justify-content: flex-end;
}

.nav{
    position: absolute;
    top: 8.969907407vw;
    width: 30vw;
    right: 0;

    

}

.hidden{
    display: none;

}

}