
nav ul{
    list-style: none;
    
}

nav ul a{
    text-decoration: none;
    color: var(--nav-font-color);
}

nav ul li{
    display: inline-block;
    white-space: nowrap;
    margin-inline: 1.35vw;
    font-size: var(--nav-font-size);
    font-weight: var(--medium);
    
}


nav ul li a{
    text-decoration: none;
}


nav ul li:last-child a{
    width: var(--nav-btn-width);
    padding: var(--nav-btn-padding);
    border-radius: var(--nav-btn-br);
    background-color: var(--nav-btn-color);
    color: var(--nav-btn-font-color);
    font-size: var(--nav-font-size);
}

nav ul li a:visited{
    opacity: 50%;
}


nav ul li a:hover, nav ul li a:focus{
    color: var(--h-extra-primary-color);
}

nav ul li:last-child a:hover, nav ul li:last-child a:focus{
    color: var(--nav-btn-font-color);
    opacity: 90%;
}

nav ul li a:active{
    opacity: 90%;
}


.bg-logo p{
    font-size: var(--bg-logo-font-size);
    font-weight: var(--medium);
    
}


/* Container settings */

/* Sections*/

body{
    display: grid;
    font-family: 'Inter', sans-serif;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    background-color: #FCFCFE;

}

/* % works best for grid than vw*/


header{
    width: 100%;
    height: auto;
    padding: 0 4vw;
}

main{
    width: 100%;
    height: auto;    
    
}

section{
    margin-bottom: 0.25vw;
}

footer{
    width: 100%;
    height: auto;
    padding: 0 4vw;
    margin-top: 1vw;
}


.header{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    grid-template-columns: 3fr 5fr;
    height: 7.2337962962962962vw;
    gap: 2vw;
    
}


#header-div-1, #header-div-2 {
    display: flex;
    align-items: center;
    white-space: nowrap;

}


#header-div-1{
    justify-content: flex-start;
}
#header-div-2{
   justify-content: center;
   padding: 0.5vw 0 ;
}


#section-1{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 46.12268519vw;
    /* the above code bulletproofs my grid*/
    background-color: #FBFCFE;
    padding: 0 0 0 4vw;
   
    
}

.sec-1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: wrap;
    gap: 3vw;
}

.sec-1-img{
    background-image: url("/asset/img/Doctor\ treating\ patients.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


#tag-1{
    width: var(--msg-tag1-size-w);
}


.hero-text h2, .hero-text p{
    margin: 0 0 1.5vw;
}

.hero-text p{
    line-height: 1.8;
    width: 75%;
}

.hero-app-links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hero-extra{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
}

.blk-human-iconbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.blk-human-iconbox .blk-human-icon-clip{
    position: absolute;
}

#icon-clip-1{
    left: 0;
}

#icon-clip-2{
    left: 2vw;
}

#icon-clip-3{
    left: 4vw;
}

#icon-clip-4{
    left: 6vw;
}

.hero-extra-b{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 0.75vw;
}


.starbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.35vw;
}

.starbox div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.35vw; 
}

.starbox span{
    margin-top: -0.1vw;
}


#section-2{
    padding: 0 4vw;
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    min-height: 40.91435185vw;
    align-items: flex-start;


}

.sec-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8vw;
}

.sec-2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
}

.sec-2-b{
    margin-top: -5.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#tag-2{
    width: var(--msg-tag2-size-w);
}

.features-box{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1.5vw;
    width: 95%;
}


.feature{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    border-radius: 1.736vw;
    box-shadow: 0 0 1vw 0.25vw rgb(0, 0, 0, 0.25);

    
}


.feature-contr{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: flex-start;
    align-items: center;
}

.features-box .feature:last-child{
    position: absolute;
    top: 33.5vw;
    right: 5%;
    width: var(--bg-features-box-w);
    height: var(--bg-features-box-h);
    border-radius: 2.1412037037037037vw;
}

.features-box .feature:last-child .feature-contr{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.features-box .feature:last-child .feature-contr .feature-text{
    width: 90%;
    align-items: center;
}

.feature-contr:first-child{
    align-items: flex-start;
}

.feature-text{
    width: 100%;
    word-spacing: 0.05vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: flex-start;

}

.feature-text p:last-child{
    line-height: 1.8;
}


#section-3{
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.sec-3{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 5vw;
    width: 85%;
    
}

#about-app-a{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#about-app-a-I{
    line-height: 1.55;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
    padding: 2.5vw 0;
}

#about-app-a-I p{
    width: 80%;
}

#about-app-a-II{
    line-height: 3;
}

#about-app-a-II ul{
    list-style: none;
    padding: 0;
}

#about-app-a-II ul li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;

}

#about-app-a-II ul li::before{
    content: " ";
    width: var(--blue-tick-size);
    height: var(--blue-tick-size);
    border-radius: 50%;
    background: url("/asset/img/charm_tick.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}


#about-app-b{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-app-b div{
    background-image: url("/asset/img/app-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--bg-app-img-w);
    height: var(--bg-app-img-h);
    border-radius: 4.5vw;
}

#about-app-c{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.about-feature{
    width: 90%;
    word-spacing: 0.175vw;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5vw;
}

.sec-3-b{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    border-radius: var(--bg-msg-tag-br-light);
    background-color: var(--bg-tag-light-blue-color);
    padding: 3vw 0;
    line-height: 1.5;
    
}

.bg-light-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.bg-light-content-text{
    text-align: center;
    margin-top: -0.8vw;
}

#section-4{
    padding: 4vw 1.5vw 4vw 4vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#tag-3{
    width: var(--msg-tag3-size-w);
}

.sec-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.475vw;
}

.sec-4-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.sec-4-b{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: start;
    justify-content: center;
    gap: 0;
}

.sec-4-box-contr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 0;

}

.sec-4-box-contr-a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1vw;
    padding: 3.5vw 0.5vw 1vw;
}


.blue-No-circle{
    width: var(--blue-circle-size);
    height: var(--blue-circle-size);
    background-color: var(--blue-circle-fill);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FFFFFF;
}

svg rect{
    width: 80%;
    height: 90%;   
}

.sec-4-line-height{
    line-height: 1.8;
}


#section-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4vw;
    background-color: #FCFCFE;
    gap: 8vw;
}

.sec-5{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3.5vw;
}

.sec-5-text{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: center;
}

.position-blocker{
    width: 100%;
    height: 19.25vw;
    position: relative;
    background: #FCFCFE;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.carousel-contr{
    display: flex;
    flex-wrap: nowrap;
    gap: 3.25vw;
    overflow-x: hidden;
    max-width: var(--bg-msg-tag-width);
    height: var(--comment-box-h);
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(var(--comment-slide-box)) }
  
}

.carousel-contr-slide{
    animation: slide 60s infinite 0.5s linear;
}

.comment{
    min-width: var(--comment-box-w);
    height: var(--comment-box-h);
    border: solid #00000040;
    display: grid;
    grid-template-rows: 1.5fr 1.3fr;
    justify-content: center;
    border-radius: 1.215277777777777vw;
    box-shadow: 0 0 0.05vw 0.1vw #00000040;
    background-color: white;
    position: relative;
    
}

.comment-a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.15vw;
    padding: 1vw;
    line-height: 2;
    width: 85%;
}
.comment-b{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
}

.comment-b div:last-child{
    display: flex;
    flex-direction: column;
    gap: 0.45vw;
}


.q-r{
    background-image: url("/asset/img/QR.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--qr-code-img-size);
    height: var(--qr-code-img-size);
}

.q-r-contr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.q-r-contr p{
    width: 30%;
}

.sec-5-b{
    width: 100%;
}

.bg-dark-content{
    background-color: var(--bg-tag-dark-blue-color);
    display: grid;
    grid-template-columns: 1.25fr 1.875fr;
    width: 100%;
    border-radius: var(--bg-msg-tag-br-dark-blue);
    padding: 3vw 0;
    line-height: 1.5;
    
}

.bg-dark-content-a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 4vw;
}

.bg-dark-content-b{
    display: flex;
    flex-direction: row;
}

.sec-5-b h2{
    color: #ffffff;
    font-size: 2.25694444444444444vw;
}

.red{
    color: var(--red-icon-fill-color);
}

.footer{
    display: grid;
    grid-template-columns: 1.75fr 1.2fr 1.25fr 1.6fr;
    width: 100%;
}
/*
.footer div, .footer p{
    border: solid;
    border-color: #000;
}
*/
.ft-blk{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 21.18055556vw;
}

.sm-logo p{
    font-size: var(--sm-logo-font-size);
    font-weight: var(--medium);
    
}
 .x{
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1.8vw;
    margin-top: 2.5vw;
 }


.gray-line{
    border-image: linear-gradient(180deg, #fff 0%,var(--grey-v-line-color) 50%, #fff 100%);
    border-image-repeat: stretch;
    border-image-slice: 30;
}
#ft-1{
    border-right: solid transparent;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-width: 0.275vw;
}

#ft-2{
    border-right: solid transparent;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-width: 0.275vw;
}

#ft-3{
    border-right: solid transparent;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-width: 0.275vw;
}

#ft-4{
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-top: 0; 
    border-width: 0.275vw; 
}

 #ft-1 div{
    margin-left: 1vw;
    padding: 0.1vw;

 }

#ft-2 div{
    padding: 0.1vw;
}

#ft-3 div{
    padding: 0.1vw;
}

#ft-4 div{
    padding: 0.1vw;
}

#ft-2 .x {
    width: 50%;
}

#ft-3 .x{
    width: 55%;
}

#ft-4 .x{
    width: 66%;
    margin-top: 2vw;
}

#ft-1-p p, #x-2 p, #x-3 p, #x-4 p{
    line-height: 1.6;
}


#ft-downld{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.25vw;
}

.ft-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4vw;
}

.ft-links a{
    text-decoration: none;
    color: var(--p-medium-lighter-color)
}

.ft-links a:visited{
    opacity: 50%;
}


.ft-links a:hover, .ft-links a:focus{
    color: var(--h-extra-primary-color);
    text-decoration: underline;
}

.ft-links a:active{
    opacity: 90%;
    color: var(--p-medium-lighter-color);
}


/*New View*/

@media (max-width: 850px) {
.hamburger {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-columns:minmax(0, 2.314814815vw) ;
  justify-content: space-evenly;
  gap: 0.2vw;
  width: 2.314814815vw;
  height: 1.736111111vw;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Base line styles */
.line {
  width: 100%;
  min-height: 0.289351851vw;
  background-color: black;
  transition: all 0.3s ease; /* Smooth transition duration */
  transform-origin: 0.25vw center; /* Critical for correct rotation alignment */
}

/* Transformation to "X" when clicked */
.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg); /* Rotates top line down */
  

  
}

.hamburger.open .line:nth-child(2) {
  opacity: 0; /* Hides middle line */
  width: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg); /* Rotates bottom line up */
}

.hamburger-btn{
    min-width: 2.314814815vw;
    min-height: 1.736111111vw;
}

.Nav {
    /*border: 0.11574074vw solid #333;*/
    border-radius: 0 0 1.851851852vw 1.851851852vw;
    margin: 0 auto 0.925925925vw;
    /*min-width: 14.46759259vw;*/
    font-size: var(--nav-bg-font-size);
    line-height: 1.8vw;
    text-align: center;
    background: white;
}


nav ul {
    list-style-type: none;
}

nav ul li{
    display: block;
    border-top: 0.05787037vw solid #4444443d;
    margin-inline: 0;
    padding: 0.75vw 0;
}


nav ul li:first-child {
    border-top: unset;
}

nav ul li:last-child {
    background-color: #333;
    border-radius: 0 0 1.651851852vw 1.651851852vw;
    padding: 1.5vw 0;
}

nav ul li:last-child a {
    width: 14.46759259vw;
    color: var(--logo-icon-fill-color);
    padding: 0;
    background-color: transparent;
}
nav ul a, 
nav ul a:visited {
    text-decoration: none;
    color: var(--nav-font-color);
}


nav ul li:hover,
nav ul li:focus,
nav ul li:hover a{
    background: var(--nav-btn-color);
    color: whitesmoke;
}


.header{
    grid-template-columns: 1fr 1fr;
}
#header-div-2{
    justify-content: flex-end;
}

.nav{
    position: absolute;
    top: 8.969907407vw;
    width: 30vw;
    right: 0;

    

}

.hidden{
    display: none;

}

}